
<div class = "container wrapper">
<table class = "wrapper" style="width: 50px">
<tr>
  <td> <div>
                <a href="http://www.huckberry.com">
                    <img class="img-responsive" <%= link_to image_tag("1.jpg", alt: "horn"), :class => 'img'%>
      
</div></td>
</tr>
<tr>
  <td> <div>
                <a href="/b1">
                    <img class="img-responsive" <%= link_to image_tag("2.jpg", alt: "horn"), :class => 'img'%>
      
</div></td>
</tr>
<tr>
  <td> <div>
                <a href="/b2">
                    <img class="img-responsive" <%= link_to image_tag("3.jpg", alt: "horn"), :class => 'img'%>
      
</div></td>
</tr>
<tr>
	 <td> <div>
	 	
                    <img class="img-responsive" <%= link_to image_tag("12.jpg", alt: "horn"), :class => 'img'%>
                          <img class="img-responsive" <%= link_to image_tag("13.jpg", alt: "horn"), :class => 'img'%>
                <a href="/j1">
                    <img class="img-responsive" <%= link_to image_tag("4.jpg", alt: "horn"), :class => 'img'%>

                    <a href="/j2">
                    <img class="img-responsive" <%= link_to image_tag("11.jpg", alt: "horn"), :class => 'img'%>
      
</div></td>
	</tr>
	<tr>
		
			<center><td>
				<a href="#">
                    <img class="img-responsive" <%= link_to image_tag("5.jpg", alt: "horn"), :class => 'img'%>
			</td></center>
			
				

		</tr>
		<tr>
			<td>
		<p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Today's Tunes: <a href="https://www.youtube.com/watch?v=vdySqVf9hiE&index=17&list=PL086B0E68CF76B481">Wax Tailor</a>, <a href="http://www.youtube.com/watch?v=IcmTyiVkhGk">The Weeknd</a>, <a href="https://soundcloud.com/cultscultscults/cults-go-outside-2-bears-remix">2 Bears and Cults</a> </p>
	</td></tr>
		<tr>
<td>
                <a href="http://www.redbullstormchase.com/#videoContentSlider">
                    <img class="img-responsive" <%= link_to image_tag("6.jpg", alt: "horn"), :class => 'img'%>


 <a href="http://lifehacker.com/an-experienced-freelancers-guide-to-finding-clients-1610357303">
                    <img class="img-responsive" <%= link_to image_tag("7.jpg", alt: "horn"), :class => 'img'%>
                

 <a href="http://grantland.com/features/nba-celebrations-matrix-lebron-james-caron-butler-carmelo-anthony/">
                    <img class="img-responsive" <%= link_to image_tag("8.jpg", alt: "horn"), :class => 'img'%>
                
</td>
	</tr>
</table>
</div>

           
